.auth-container {
  max-width: 400px;
  margin: 50px auto;
  font-family: sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auth-input {
  padding: 10px;
  font-size: 16px;
}
.btn-auth {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn-login {
  background-color: #28a745;
}
.btn-reg {
  background-color: #0056b3;
}
.auth-link {
  color: #0056b3;
}
